html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cabin', serif;
  background-color: #DCFAF7;
  margin: 0;
}

/* Menu navegacion */
header {
  position: fixed;
  background-color: #00CCCC;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  transition-duration: 500ms;
  z-index: 999;
  min-height: 80px;
}

header nav {
  font-family: 'Poppins', serif;
}

nav h1 {
  display: none;
}

.logo {
  width: 90px;
  transition: 0.3s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.nav-list {
  position: absolute;
  top: 120px;
  left: 0;
  margin-top: 0;
  background: #008080;
  height: 100vh;
  opacity: 0.9;
  text-align: center;

}

.box {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.menu-button .material-icons{
  color: #fff;
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  padding: 20px 0;
}

nav li {
  margin: 30px 0;
}

nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

nav li a:visited {
  color: inherit;
}

nav li a:hover {
  color: #CC0099;
  transition: color 0.3s ease;
  font-weight: bold;
}

/* Contenido pagina */
main {
  margin-top: 120px;
}

.summary {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 0 auto;
  padding: 20px 30px 0px 25px;
  gap: 16px;
}

section {
  z-index: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.title-info {
  padding: 40px 20px;
  background-size: cover;
  height: auto;
  background-image: url('./img/banner_mobile.webp');
  text-shadow: 1px 1px black;
  color: #FFF;
}

.title-info h2 {
  text-transform: none;
  font-size: 36px;
  margin: 0;
  text-align: center;
  line-height: 38px;
  color: #FF33CC;
}

.subtitle {
  color: #FF33CC;
  font-size: 27px;
  margin: 10px 0;
  text-align: center;
  line-height: 38px;
  display: block;
}

.title-info p {
  font-size: 20px;
}

.title-info p a {
  color: #FF33CC;
}

p a {
  color: #CC0099;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s ease;
}

p a:hover {
  opacity: 0.5;
}

section h3 {
  color: #CC0099;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 30px;
}

.info-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.info-section p {
  text-align: justify;
}

.name {
  font-weight: bold;
  color: #CC0099;
}

p .study {
  color: #009999;
}

.photo {
  border: 2px solid #990066;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 1;
  transition: 0.3s ease;
}

.photo:hover {
  opacity: 0.9;
}

.media-section {
  text-align: center;
}

.social-networks {
  margin-top: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  border: 2px solid #009999;
  border-radius: 20px;
  padding: 15px;
  background-color: #DCFAF7;
  gap: 1.5rem;
}

.contact-info .contact-card {
  margin: 0;
  width: 250px;
}

.timetable-container {
  width: 250px;
}

.timetable {
  list-style: none;
  padding: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #009999;
  font-size: 18px;
}

.contact-card {
  color: #009999;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
  opacity: 1;
  transition: 0.3s ease;
}

.contact-card .schedule {
  width: 340px !important;
}

.contact-card .phone {
  width: 185px !important;
}

.contact-card:hover {
  opacity: 0.7;
}

.contact-card img {
  margin-right: 12px;
  width: 50px;
  height: 50px;
}

.contact-card p {
  margin: 0;
}

.contact-card .title {
  font-weight: bold;
  margin: 0;
}

.contact-card p:nth-of-type(2), .contact-card p:nth-of-type(3) {
  font-size: 18px;
  line-height: 25px;
}

.contact-card p.min-text {
  font-size: 13px;
}

.contact-card a {
  display: flex;
  color: #009999;
}

.contact-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-photo-horizontal {
  width: 280px;
  height: auto;
  border-radius: 20px;
}

.contact-photo-vertical {
  display: none;
  border-radius: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section:nth-of-type(2), section:nth-of-type(4), section:nth-of-type(6) {
  background-color: #CAF7F3;
}

.course {
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  font-size: 18px;
  height: 430px;
  position: relative;
  text-align: center;
  width: 325px;
}

.course h4 {
  margin: 10px;
  text-transform: uppercase;
  font-weight: normal;
  color: #009999;
  font-size: 20px;
  margin-bottom: 0;
}

.course-subtitle {
  color: #009999;
  margin-top: 0;
  font-size: 18px;
}

.course ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
  line-height: 35px;
}

.course ul li {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin: 8px;
}

.course-button {
  background: #CC0099;
  border: none;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 10px;
  box-shadow: 0;
  transition: box-shadow 0.3s ease;
}

.course-button:hover {
  box-shadow: 20px 20px 20px -20px #006666;
  font-weight: bold;
}

.course-front-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.course-image {
  margin-top: 10px;
}

.cardFront,
.cardBack {
  box-sizing: border-box;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 350px;
  transition: transform 0.5s ease;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cardBack {
  background-color: #009999;
  color: #FFFFFF;
  transform: perspective(1000px) rotateY(180deg);
}

.cardBack.flipped {
  transform: perspective(1000px) rotateY(0deg);
}

.cardFront {
  background-color: #FFFFFF;
  transform: perspective(1000px) rotateY(0deg);
}

.cardFront.flipped {
  transform: perspective(1000px) rotateY(180deg);
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.review-card {
  width: 250px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  text-align: center;
  box-shadow: 12px 12px 12px -20px #006666;
  font-size: 18px;
  transition: box-shadow 0.3s ease;
}

.review-card:hover {
  box-shadow: 20px 20px 20px -20px #006666;
}

.review-card a {
  color: #000000;
}

.user-name {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  background: #008080;
  gap: 10px;
}

footer a, .footer-text {
  opacity: 1;
  transition: 0.3s ease;
  color: #00CCCC;
}

footer a:hover {
  opacity: 0.7;
}

footer h4 {
  color: white;
  font-weight: normal;
  font-size: 1.5em;
  margin: 10px 0;
}

.footer-image {
  margin: 10px;
  background: #ffffff;
  width: 230px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.footer-image img {
  width: inherit;
}

.collabs-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.spaced {
  gap: 2rem;
}

.policy {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  line-height: 35px;
}

/* Tabs */
.tabs {
  overflow: hidden;
  align-self: flex-start;
  margin-top: 20px;
}

/* Style the buttons inside the tab */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Cabin';
  margin: 5px;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}

.tabs button:hover {
  background-color: #00E0E0;
}

.tabs .tablinks {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #000000;
  background: #00CCCC;
  margin: 0 5px 0 0;
}

.tabs .tablinks span {
  display: none;
}

.tabs button.active {
  background-color: #FFFFFF;
  color: #000000;
}

.tabcontent {
  font-family: 'Cabin';
  display: none;
  padding: 6px 12px;
  border-radius: 5px;
  border-top-left-radius: unset;
  background: #fff;
  padding: 2% 4%;
  text-align: left;
  font-size: 18px;
  box-shadow: 12px 12px 12px -20px #006666;
}

.tabcontent h4 {
  color: #009999;
  text-transform: none;
  font-size: 2em;
  line-height: normal;
  margin: 30px 0;
}

.tabcontent h5 {
  margin: 30px 0;
  font-size: 1.5em;
}

.tabcontent p {
  text-align: justify;
}

.tabcontent p.name {
  margin-top: 50px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  line-height: 35px;
  border: 2px solid #CC0099;
  border-radius: 5px;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.tabcontent p.name:hover {
  background-color: #FFEEFB;
}

.tabcontent ul {
  color: #009999;
}

.tabcontent .with-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabcontent img {
  object-fit: cover;
  width: 300px;
  border-radius: 20px;
}

.toast {
  padding: 20px;
  text-align: center;
  position: fixed;
  z-index: 100000;
  font-size: 14px;
  line-height: 20px;
  left: 0;
  text-align: center;
  bottom: 0;
  color: #FFFFFF;
  background: #000000;
  opacity: 0.85;
  display: block;
}

.hide {
  display: none;
}

.toast button {
  background-color: #990066;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cookies-content {
  height: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

.cookies-content-active {
  overflow: hidden;
  transition: transform 0.3s ease-out;
  height: auto;
  transform: scaleY(1);
  transform-origin: bottom;
}

section.legal {
  text-align: justify;
}

section.legal h2 {
  font-size: 36px;
  margin-top: 60px;
  color: #CC0099;
}

section.legal h3 {
  text-align: center;
}

@media (min-width: 750px) {

  /* Coming soon page */
  .coming-soon {
    margin: 5% auto;
    width: 600px;
    font-size: 20px;
  }

  .coming-soon .contact-card {
    margin: 0;
  }

  /* Landing page */
  .menu-button {
    display: none;
  }

  nav {
    display: flex;
  }

  .logo {
    width: 130px;
  }

  header nav h1 {
    display: inline;
    font-size: 22px;
    margin-left: 20px;
    font-weight: normal;
    min-width: 290px;
  }

  header nav h1 .title {
    font-size: 32px;
    font-family: 'Cabin';
    line-height: 50px;
    transition: 0.3s;
  }

  header nav h1 .second-title {
    transition: 0.3s;
  }

  .nav-list {
    flex-grow: 5;
    display: block;
    background: none;
    position: relative;
    padding: 30px;
    top: 0;
    width: auto;
    height: 20px;
    transition: none;
  }

  .hidden {
    display: block;
  }

  .visually-hidden {
    opacity: 1;
  }

  nav ul {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 130px;
  }

  main {
    margin-top: 160px;
  }

  .title-info h2 {
    font-size: 40px;
  }

  .subtitle {
    font-size: 30px;
  }

  .summary {
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    gap: 30px;
  }

  .summary .contact-card {
    margin: 0;
  }

  .section-index {
    height: 15px;
  }

  section {
    padding: 20px 160px 50px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  section h3 {
    font-size: 2em;
    margin-top: 60px;
  }

  section:nth-last-of-type(1) {
    padding-bottom: 100px;
  }

  section.legal h2 {
    font-size: 40px;
  }

  .title-info {
    padding: 50px 130px;
    height: 400px;
    background-image: url('./img/banner.webp');
  }

  .info-section p {
    width: 800px;
    padding: 0 60px;
  }

  .photo {
    width: 380px;
    height: 380px;
  }

  .social-networks {
    margin-top: 20px;
  }

  .social-networks a {
    opacity: 1;
    transition: 0.3s ease;
  }

  .social-networks a:hover {
    opacity: 0.5;
  }

  .contact-info {
    height: 380px;
  }

  .contact-card .phone{
    width: 250px !important;
    margin-left: 20px;
  }

  .tabs .tablinks span {
    display: block;
  }

  .tabcontent ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .tabcontent ul > li {
    display: inline-block;;
    line-height: 35px;
  }

  .tabcontent ul li:not(:last-child)::after {
    margin: 20px;
    content: "·";
  }

  .tabcontent .with-img h2 {
    margin-top: 0;
  }

  .tabcontent .with-img {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
  }

  .align-end {
    align-items: flex-end !important;
  }

  .contact-section {
    flex-direction: row;
    width: 80%;
    gap: 5%;
  }

  .contact-photo-horizontal {
    display: none;
  }

  .contact-photo-vertical {
    display: block;
    height: 410px;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer-image {
    width: 250px;
  }

  .timetable-container {
    width: 220px;
    text-align: left;
  }

  .timetable {
    margin-top: 3rem;
  }

  .reviews-section {
    flex-direction: row;
  }

}

@media (min-width: 1370px) {
  .info-section {
    flex-direction: row;
    text-align: left;
  }

  .photo {
    width: 400px;
    height: 400px;
  }

  .tabcontent img {
    width: 450px;
    height: 300px;
  }

  .course {
    width: 80%;
  }

  .course-image {
    width: 150px;
    height: 150px;
    margin: 0;
  }

  .course-content {
    display: flex;
    flex-direction: row;
  }

  .cardFront,
  .cardBack {
    width: 100%;
    max-width: inherit;
  }
}
