html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cabin', serif;
  background-color: #DCFAF7;
}

header {
  position: fixed;
  background-color: #00C8C8;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  transition-duration: 500ms;
  z-index: 999;
  min-height: 80px;
}

.logo {
  width: 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.nav-list {
  position: absolute;
  top: 82px;
  left: 0;
  margin-top: 0;
  background: #008080;
  height: 90vh;
  opacity: 0.9;
  text-align: center;

}

.box {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.menu-button .material-icons{
  color: #fff;
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  padding: 20px 0;
}
nav li {
  margin: 30px 0;
  color: #fff;
}
nav li a {
  text-transform: uppercase;
  text-decoration: none;
}
nav li a:visited {
  color: inherit;
}
nav li a:hover {
  color: #C70499;
  transition: color 0.3s ease;
  font-weight: bold;
}

main {
  margin-top: 50px;
}

section {
  z-index: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

section h1 {
  color: #C70499;
  text-transform: uppercase;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  border: 2px solid #780C5F;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.contact-card {
  color: #008080;
  font-size: 18px;
  width: 230px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-card img {
  margin-right: 10px;
}

.contact-card p {
  margin: 0;
}

.contact-card p:nth-of-type(1) {
  font-weight: bold;
  margin: 0;
}

form {
  font-family: 'Cabin', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text], input[type=submit], textarea {
  font-family: 'Cabin', serif;
  padding: 15px 10px;
  font-size: 18px;
  border: 2px solid #008080;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
}

input[type=submit] {
  margin: 18px 0;
  background-color: #780c5f;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #C70499;
  transition: background-color 0.3s ease;
}

section:nth-of-type(2), section:nth-of-type(4) {
  background-color: #CAF7F3;
}

@media (min-width: 750px) {
  .menu-button {
    display: none;
  }
  .nav-list {
    display: block;
    background: none;
    position: relative;
    padding: 40px;
    top: 0;
    width: auto;
    height: 20px;
    transition: none;
  }
  .hidden {
    display: block;
  }
  .visually-hidden {
    opacity: 1;
  }

  nav ul {
    font-size: 20px;
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin: 0;
  }
  nav li a {
    margin: 0 4rem;
  }

  .section-index {
    height: 15px;
  }
  section {
    padding: 20px 160px;
    margin-top: 50px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  section h1 {
    font-size: 2em;
  }

  .info-section {
    flex-direction: row;
    text-align: left;
  }

  .info-section p {
    width: 600px;
    padding: 0 60px;
  }

  .photo {
    width: 300px;
    height: 300px;
  }

  form div {
    flex-direction: row;
    width: 95%;
  }

  input[type="text"] {
    width: 240px;
    margin: 15px;
  }

  textarea {
    width: 89%;
  }
}
