html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cabin', serif;
  background-color: #DCFAF7;
  margin: 0;
}

/* Menu navegacion */
header {
  position: fixed;
  background-color: #00C8C8;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  transition-duration: 500ms;
  z-index: 999;
  min-height: 80px;
}

.logo {
  width: 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.nav-list {
  position: absolute;
  top: 103px;
  left: 0;
  margin-top: 0;
  background: #008080;
  height: 90vh;
  opacity: 0.9;
  text-align: center;

}

.box {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}

.hidden {
  display: none;
}

.visually-hidden {
  opacity: 0;
}

.menu-button .material-icons{
  color: #fff;
  font-size: 36px;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  padding: 20px 0;
}
nav li {
  margin: 30px 0;
}
nav li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
nav li a:visited {
  color: inherit;
}
nav li a:hover {
  color: #C70499;
  transition: color 0.3s ease;
  font-weight: bold;
}

/* Contenido pagina */
main {
  margin-top: 120px;
}

.summary {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 0 auto;
  padding: 20px 30px;
}

section {
  z-index: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.title-info {
  margin-top: 50px;
  padding: 0 20px;
}

.title-info h1 {
  text-transform: none;
  font-size: 2em;
  margin: 0;
  text-align: center;
  line-height: 38px;
}

.title-info h2 {
  color: #C70499;
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  line-height: 38px;
}

.title-info p {
  font-size: 20px;
}

p a {
  color: #C70499;
  text-decoration: none;
  opacity: 1;
  transition: 0.3s ease;
}

p a:hover {
  opacity: 0.5;
}

section h1 {
  color: #C70499;
  text-transform: uppercase;
  margin-top: 30px;
}

.info-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

p .name {
  font-weight: bold;
  color: #C70499;
}

p .study {
  color: #008080;
}

.photo {
  border: 2px solid #780C5F;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.media-section {
  text-align: center;
}

.social-networks {
  margin-top: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  border: 2px solid #008080;
  border-radius: 5px;
  padding: 15px 15px 0 15px;
  background-color: #DCFAF7;
}

.contact-card {
  color: #008080;
  font-size: 20px;
  width: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
}

.contact-card img {
  margin-right: 12px;
  width: 50px;
  height: 50px;
}

.contact-card p {
  margin: 0;
}

.contact-card p:nth-of-type(1) {
  font-weight: bold;
  margin: 0;
}

#min-text {
  font-size: 13px;
}

.contact-card p:nth-of-type(2), .contact-card p:nth-of-type(3) {
  font-size: 18px;
  line-height: 25px;
}

.contact-card a {
  display: flex;
  color: #008080;
}

a {
  text-decoration: none;
}

/* Formulario */
form {
  font-family: 'Cabin', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text], input[type=submit], textarea {
  font-family: 'Cabin', serif;
  padding: 15px 10px;
  font-size: 18px;
  border: 2px solid #008080;
  margin: 10px;
  border-radius: 5px;
  width: 250px;
}

input[type=submit] {
  margin: 18px 0;
  background-color: #780c5f;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #C70499;
  transition: background-color 0.3s ease;
}

section:nth-of-type(2), section:nth-of-type(4) {
  background-color: #CAF7F3;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 60px 0;
  background: #008080;
}

footer a{
  opacity: 1;
  transition: 0.3s ease;
}

footer a:hover {
  opacity: 0.7;
}


.footer-image {
  margin: 10px;
  background: #ffffff;
  width: 230px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.footer-image img {
  width: inherit;
}


@media (min-width: 750px) {
  .menu-button {
    display: none;
  }

  nav {
    display: flex;
  }

  .nav-list {
    flex-grow: 5;
    display: block;
    background: none;
    position: relative;
    padding: 40px;
    top: 0;
    width: auto;
    height: 20px;
    transition: none;
  }
  .hidden {
    display: block;
  }
  .visually-hidden {
    opacity: 1;
  }

  nav ul {
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  nav li {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .summary {
    flex-direction: row;
    justify-content: center;
  }

  .summary .contact-card {
    margin: 0;
  }

  .section-index {
    height: 15px;
  }

  section {
    padding: 20px 160px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  section h1 {
    font-size: 2em;
    margin-top: 60px;
  }

  section:nth-last-of-type(1) {
    padding-bottom: 100px;
  }

  .title-info {
    padding: 0 60px;
  }

  .info-section {
    flex-direction: row;
    text-align: left;
  }

  .info-section p {
    width: 800px;
    padding: 0 60px;
  }

  .photo {
    width: 350px;
    height: 350px;
  }

  .social-networks {
    margin-top: 20px;
  }

  .social-networks a {
    opacity: 1;
    transition: 0.3s ease;
  }

  .social-networks a:hover {
    opacity: 0.5;
  }

  .contact-section {
    display: flex;
  }

  .contact-card {
    width: 300px;
    margin-left: 20px;
  }

  #min-text {
    font-size: 16px;
  }

  form {
    margin-left: 10%;
    width: 600px;
    align-items: center;
  }

  form div {
    width: 600px;
  }

  input[type="text"] {
    width: 90%;
    margin: 15px;
  }

  textarea {
    width: 90%;
    max-width: 542px;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-image {
    width: 250px;
  }
}
